.treeview-node .far {
    margin-right: 0.5em;
}

.treeview-node:nth-child(2n) {
    background: rgba(32, 64, 128, 0.05);
}

.treeview-node:hover {
    background: rgba(32, 64, 128, 0.1);
    transition: 0.1s ease-in;
}

.treeview-node.active {
    background: rgba(32, 64, 128, 0.9);
    color: white;
}

.treeview-node {
    cursor: pointer;
    padding: 0.5em;
}

.treeview-node.treeview-node-collapsed::before,
.treeview-node.treeview-node-expanded::before,
.treeview-node.treeview-node-loading::before,
.treeview-node.treeview-node-leaf::before {
    font-family: monospace;
    margin: 0.5em;
}

.treeview-node.treeview-node-collapsed::before {
    content: "+";
}

.treeview-node.treeview-node-expanded::before {
    content: "-";
}

.treeview-node.treeview-node-loading::before {
    content: "?";
}

.treeview-node.treeview-node-leaf::before {
    content: ".";
    visibility: hidden;
}
